thead {
    text-align: left;
    background-color: green;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: aqua;
}

tbody tr:nth-child(odd) {
    background-color: white;
}


